<footer class="ae-container-fluid rk-footer">
  <div class="ae-grid ae-grid--collapse">
    <div class="ae-grid__item item-lg-4 au-xs-ta-center au-lg-ta-left">
      <ul class="rk-menu rk-footer-menu">
      </ul>
      <p class="rk-footer__text rk-footer__copy" > <span class="ae-u-bold">© </span><span class="ae-u-bolder">{{ year }}</span> All Right Reserved.</p>
    </div>
    <div class="ae-grid__item item-lg-4 au-xs-ta-center">
      <a href="https://github.com/{{ _is.info.github }}}"  target="_blank" class="rk-social-btn ">
        <img src="assets/img/GitHub-Mark-120px-plus.png">
      </a>
      <a href="https://twitter.com/{{ _is.info.twitter }}" target="_blank" class="rk-social-btn ">
        <img src="assets/img/Twitter_Social_Icon_Circle_Black.png">
      </a>
      <!-- <a href="/"  target="_blank" class="rk-social-btn ">
        <svg>
          <use xlink:href="assets/img/symbols.svg#icon-pinterest"></use>
        </svg>
      </a> -->
    </div>
    <div class="ae-grid__item item-lg-4 au-xs-ta-center au-lg-ta-right">
      <p class="rk-footer__text rk-footer__contact ">
        <span class="ae-u-bolder">
          <a href="#0" class="rk-dark-color "></a>
        </span>
      </p>
    </div>
  </div>
</footer>
