<section class="ae-container-fluid rk-main animated fadeIn">
  <section class="ae-container-fluid ae-container-fluid--inner rk-portfolio animated fadeIn">
    <app-spinner></app-spinner>
      <div *ngIf="_ts.timeline.length > 0 && _ts.loading_timeline == false" class="ae-masonry ae-masonry-md-2 ae-masonry-xl-4 animated fadeIn">
      <a *ngFor="let post of _ts.timeline" [routerLink]="['/post', post.cod]" class="rk-item ae-masonry__item animated fadeIn">
        <img src="{{ post.url }}" alt="{{ post.title }}">
        <div class="item-meta">
          <h2>{{ post.title }}</h2>
          <p>{{ post.category }}</p>
        </div>
      </a>
    </div>
  </section>
</section>
