/* You can add global styles to this file, and also import other style files */
.animated {
  animation-duration: 0.8s;
  animation-fill-mode: both;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

.fadeIn {
  animation-name: fadeIn;
}

  /* Loading */
svg path, svg rect{
  fill: silver;
}

#logo{
  padding-left: 10%;
}

#name{
  font-family: 'Josefin Slab';
  text-decoration: none;
  color: #424B54;
}

.rk-menu__link{
  color: #9A8F97;
  padding-top: 20px;
  padding-bottom: 45px;

}

a,p,h2 {
  font-family: 'Open Sans Condensed'
}

.rk-menu__link:hover{
  color: #424B54;
}